body {
  text-align: center;
}

img {
    display: none;
    margin: auto;
  }

#walrus-showing {
    display: none;
  }

 .clickable {
    cursor: pointer;
    color: #0088cc;
  }
  
 .clickable:hover {
    text-decoration: underline;
  }

  .clickable-p {
    cursor: pointer;
    color: #0088cc;
  }
  
 .clickable-p:hover {
    text-decoration: underline;
  }

  #hidden-text {
    display: none;
  }